@keyframes inscreen {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes inscreen-en {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.inscreen {
  animation: inscreen 0.4s ease forwards;
}

html[dir=ltr] .inscreen {
  animation: inscreen-en 0.4s ease forwards;
}

@keyframes outscreen {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
.outscreen {
  animation: outscreen 0.5s ease forwards;
}

@keyframes outscreen-en {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
html[dir=ltr] .outscreen {
  animation: outscreen-en 0.5s ease forwards;
}

@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
.anim-typewriter {
  animation: typewriter 2s steps(50) 1 normal both;
}
.anim-typewriter:last-of-type {
  animation: typewriter-sec 2s steps(50) 2s 1 normal both;
}
@media (max-width: 767px) {
  .anim-typewriter {
    animation: typewriter-xs 2s steps(50) 1 normal both;
  }
  .anim-typewriter:last-of-type {
    animation: typewriter-sec-xs 2s steps(50) 2s 1 normal both;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 320px;
  }
}
@keyframes typewriter-sec {
  from {
    width: 0;
  }
  to {
    width: 420px;
  }
}
@keyframes typewriter-xs {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes typewriter-sec-xs {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes pattern-anim {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 800px;
  }
}
body {
  font-family: itc;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: #eff3f5;
  width: 8px;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(21, 128, 241, 0.75);
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(21, 128, 241, 0.75) #eff3f5;
}

.container {
  max-width: 1170px;
}

.fixall {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.fixall:hover, .fixall:active, .fixall:focus {
  text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.patern-overlay {
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position-x: center;
  animation: pattern-anim 50s infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@font-face {
  font-family: "itc";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC REGULAR.OTF");
}
@font-face {
  font-family: "itc-md";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC MEDIUM.OTF");
}
@font-face {
  font-family: "itc-li";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC LIGHT.OTF");
}
@font-face {
  font-family: "itc-bd";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC BOLD.OTF");
}
@font-face {
  font-family: "itc-hv";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC HEAVY.OTF");
}
.join-btn {
  background-color: #1580f1;
  color: #fff;
  font-family: itc-bd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  backface-visibility: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.join-btn:active, .join-btn:focus, .join-btn:hover {
  color: #fff;
  box-shadow: 0 10px 10px -10px rgba(21, 128, 241, 0.5);
  transform: translateY(-2.5px);
}

.header-sec .join-btn {
  height: 40px;
  width: 150px;
  margin-right: auto;
  font-size: 15px;
}
.header-sec i {
  margin-right: 16px;
  font-size: 8px;
}
@media (max-width: 1199px) {
  .header-sec .join-btn {
    width: 100%;
  }
}

.main-sec .join-btn {
  width: 187px;
  height: 50px;
  font-size: 18px;
  margin-left: auto;
  margin-top: 44px;
}
@media (max-width: 767px) {
  .main-sec .join-btn {
    margin: auto;
    margin-top: 25px;
  }
}
.main-sec i {
  margin-right: 19px;
  font-size: 11px;
}

.steps-sec .join-btn {
  width: 206px;
  height: 55px;
  font-size: 18px;
  margin: auto;
  margin-top: 99px;
}
@media (max-width: 767px) {
  .steps-sec .join-btn {
    margin: auto;
    margin-top: 40px;
  }
}
.steps-sec i {
  margin-right: 19px;
  font-size: 11px;
}

.types-sec .anchor-btn {
  width: auto;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  font-family: itc-bd;
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #1580f1;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#53a5fc), color-stop(50%, #53a5fc), color-stop(50%, #1580f1));
  background-image: linear-gradient(to left, #53a5fc, #53a5fc 50%, #1580f1 50%);
  background-size: 200% 100%;
  background-position: 0%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.types-sec .anchor-btn i {
  margin-right: 11px;
  font-size: 18px;
}
.types-sec .anchor-btn:hover {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-position: 100%;
}

.contact-sec .send {
  width: 176px;
  height: 50px;
  margin: auto;
  margin-top: 13px;
  outline: none !important;
  z-index: 9;
}

.header-sec .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 56px;
}
.header-sec .nav-link {
  font-size: 16px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #0f2460;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#1580f1), color-stop(50%, #1580f1), color-stop(50%, #0f2460));
  background-image: linear-gradient(to left, #1580f1, #1580f1 50%, #0f2460 50%);
  background-size: 200% 100%;
  background-position: 0%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header-sec .nav-link:hover {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-position: 100%;
}
@media (max-width: 1199px) {
  .header-sec .nav-list {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .header-sec .nav-list {
    padding: 0 0;
  }
}

@media (max-width: 992px) {
  .nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(15, 36, 96, 0.97);
    transition: all 500ms ease-in-out;
    clip-path: circle(30px at 35px 65px);
    visibility: hidden;
  }
  .nav .nav-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;
    padding: 0 0;
  }
  .nav .nav-li {
    margin: 12px 0;
  }
  .nav .nav-link {
    font-size: 17px;
    font-family: "itc-bd";
    color: #fff;
    background-image: -webkit-gradient(linear, right top, left top, from(#1580f1), color-stop(50%, #1580f1), color-stop(50%, #fff));
    background-image: linear-gradient(to left, #1580f1, #1580f1 50%, #fff 50%);
  }
}

.owl-carousel {
  margin-top: 30px;
}
.owl-carousel .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
  margin: auto;
}

.clients-cont .owl-item {
  width: 147px;
  height: 147px;
}
.owl-dots {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.owl-dots .owl-dot {
  outline: none;
  box-shadow: none;
  border: none;
}
.owl-dots .owl-dot span {
  display: block;
  margin: 0 4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-dots .owl-dot span:hover {
  background: #0f2460;
}
.owl-dots .owl-dot.active span {
  background: #0f2460;
}

.header-sec {
  padding-top: 43px;
  padding-bottom: 8px;
  position: sticky;
  z-index: 10;
  background-color: #fff;
  top: 0;
  left: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-sec .header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-sec .logo {
  display: flex;
}
@media (max-width: 992px) {
  .header-sec {
    padding-top: 20px;
  }
  .header-sec .header {
    margin: auto;
  }
  .header-sec .logo img {
    margin-left: auto;
  }
}

.main-sec {
  margin-top: 63px;
}
.main-sec .main {
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position-x: center;
  animation: pattern-anim 50s infinite;
}
.main-sec .main-info {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  position: relative;
}
.main-sec .main-info:before {
  content: "";
  background-color: #1580f1;
  position: absolute;
  width: 60px;
  height: 3px;
  right: -14px;
  transform: translateX(100%);
  top: 25px;
}
.main-sec .main-title {
  font-size: 30px;
  color: #0f2460;
  font-family: itc-md;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
}
.main-sec .info-txt {
  color: #657399;
  font-size: 17px;
  line-height: 1.882;
  font-family: itc-li;
  margin-top: 34px;
  text-align: justify;
}
@media (max-width: 991px) {
  .main-sec {
    margin-top: 23px;
  }
  .main-sec .main-info {
    margin-top: 50px;
  }
  .main-sec .main-info:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-sec .main-title {
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
  }
  .main-sec .main-title:last-child {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .main-sec .main-info {
    margin-top: 15px;
  }
  .main-sec .info-txt {
    margin-top: 0;
    text-align: center;
  }
}

.features-sec {
  background-image: url("../images/bg1.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-top: 82px;
  margin-top: 95px;
}
.features-sec .features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
.features-sec .feature {
  width: 290px;
  margin-bottom: 59px;
  z-index: 6;
}
.features-sec .feature:nth-of-type(2), .features-sec .feature:nth-of-type(4) {
  padding-top: 60px;
}
.features-sec .feature-title {
  font-size: 17px;
  color: #0f2460;
  line-height: 1.412;
  margin: auto;
  margin-top: -9px;
  width: 206px;
}
@media (max-width: 992px) {
  .features-sec .feature:nth-of-type(2), .features-sec .feature:nth-of-type(4) {
    padding-top: 0;
  }
}

.steps-sec {
  margin-top: 107px;
}
.steps-sec .steps-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: 34px;
}
.steps-sec .steps-txt {
  font-size: 17px;
  font-family: itc-li;
  color: #657399;
  width: 670px;
  margin: auto;
}
.steps-sec .steps {
  margin-top: 55px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.steps-sec .step-title {
  color: #0f2460;
  font-size: 17px;
  line-height: 1.412;
  width: 220px;
  margin-top: 26px;
}
.steps-sec .step-img {
  min-height: 174px;
  min-width: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.steps-sec .step {
  display: flex;
  align-items: center;
}
.steps-sec .step:after {
  content: url("../images/step-arrow.png");
}
.steps-sec .step:last-of-type:after {
  display: none;
}
@media (max-width: 1199px) {
  .steps-sec .step-title {
    width: 150px;
  }
}
@media (max-width: 991px) {
  .steps-sec .steps-txt {
    width: auto;
  }
  .steps-sec .steps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .steps-sec .step {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .steps-sec .step:after {
    display: none;
  }
}

.types-sec {
  background-image: url("../images/bg1.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-top: 136px;
  padding-top: 155px;
  overflow-x: hidden;
}
.types-sec .type {
  margin-bottom: 104px;
}
.types-sec .types-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: 73px;
}
.types-sec .type-info {
  margin-top: 73px;
}
.types-sec .type-title {
  font-size: 21px;
  font-family: itc-md;
  color: #0f2460;
  margin-bottom: 15px;
}
.types-sec .info-txt {
  font-size: 17px;
  font-family: itc-li;
  color: #657399;
  line-height: 1.765;
}
@media (max-width: 991px) {
  .types-sec .type-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .types-sec {
    margin-top: 80px;
    padding-top: 100px;
  }
}

.stages-sec {
  position: relative;
}
.stages-sec .stgaes-info {
  max-width: 540px;
  z-index: 9;
}
.stages-sec .stages-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: 29px;
}
.stages-sec .stages-txt {
  font-size: 17px;
  font-family: itc-li;
  color: #657399;
  line-height: 1.765;
}
.stages-sec .stages-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.stages-sec .stgaes-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stages-sec .stage {
  width: 179px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.stages-sec .stage:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
}
.stages-sec .stage:hover:after {
  -webkit-animation: shape 0.5s linear;
  animation: shape 0.5s linear;
}
@media (max-width: 1199px) {
  .stages-sec {
    overflow-x: hidden;
  }
  .stages-sec .stages {
    flex-direction: column;
  }
  .stages-sec .stgaes-info {
    max-width: none;
    width: 100%;
  }
  .stages-sec .stages-cont {
    max-width: 540px;
    margin: auto;
  }
  .stages-sec .stages-title {
    text-align: center;
  }
  .stages-sec .stages-txt {
    text-align: center;
  }
  .stages-sec .stgaes-img {
    position: static;
    order: 1;
    transform: none;
    width: 100%;
  }
  .stages-sec .stgaes-img img {
    width: 100%;
    transform: translateX(-15px);
  }
}
@media (max-width: 767px) {
  .stages-sec .stages-cont {
    margin-top: 25px;
  }
  .stages-sec .stage {
    width: auto;
    height: auto;
  }
}

.clients-sec .clients {
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  background-position-x: center;
  animation: pattern-anim 50s infinite;
  background-color: #fff;
  height: 400px;
  margin-top: 126px;
  padding-top: 20px;
}
.clients-sec .clients-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: -5px;
  line-height: 1.2;
}
.clients-sec .clients-cont {
  position: relative;
  height: 100%;
  pointer-events: auto !important;
}
.clients-sec .client {
  position: absolute !important;
  bottom: auto !important;
  left: auto !important;
}
.clients-sec .client:nth-of-type(1) {
  right: 4% !important;
  top: 0 !important;
}
.clients-sec .client:nth-of-type(2) {
  right: 18% !important;
  top: 22px !important;
}
.clients-sec .client:nth-of-type(3) {
  right: 27% !important;
  top: 128px !important;
}
.clients-sec .client:nth-of-type(4) {
  right: 10% !important;
  top: 150px !important;
}
.clients-sec .client:nth-of-type(5) {
  right: 40% !important;
  top: 60px !important;
}
.clients-sec .client:nth-of-type(6) {
  right: 50% !important;
  top: 88px !important;
}
.clients-sec .client:nth-of-type(7) {
  right: 68% !important;
  top: 0 !important;
}
.clients-sec .client:nth-of-type(8) {
  right: 83% !important;
  top: 0 !important;
}
.clients-sec .client:nth-of-type(9) {
  right: 64% !important;
  top: 140px !important;
}
.clients-sec .client:nth-of-type(10) {
  right: 78% !important;
  top: 160px !important;
}
.clients-sec .client:hover .client-name {
  opacity: 1;
  visibility: visible;
}
.clients-sec .client-name {
  height: 24px;
  padding: 0 19px;
  background-color: #3f5080;
  position: absolute;
  font-size: 13px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  right: 50%;
  transform: translateX(50%);
  top: -33px;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.clients-sec .client-name:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 6px;
  border-color: #3f5080 transparent transparent;
  border-style: solid;
  bottom: -12px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: 999;
}
@media (max-width: 991px) {
  .clients-sec .clients {
    height: auto;
    margin-top: 75px;
  }
  .clients-sec .clients-cont {
    position: static !important;
    height: auto;
    pointer-events: auto !important;
  }
  .clients-sec .client {
    position: static !important;
  }
}

.partners-sec {
  margin-top: 50px;
}
.partners-sec .partner-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: 74px;
}
.partners-sec .partners {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .partners-sec .partners {
    display: block;
  }
}
.partners-sec .partner {
  margin-left: 75px;
}
.partners-sec .partner:last-of-type {
  margin-left: 0;
}
.partners-sec .partner img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.partners-sec .partner:hover img {
  filter: none;
  opacity: 1;
}

.contact-sec {
  position: relative;
  background-image: url("../images/bg2.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-top: 125px;
  padding-top: 125px;
  padding-bottom: 60px;
}
.contact-sec .contact-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #0f2460;
  margin-bottom: 74px;
}
.contact-sec .contact {
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  z-index: 9;
}
.contact-sec .form-row {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
}
.contact-sec .input-cont {
  margin-left: 12px;
  width: calc(50% - 6px);
  margin-bottom: 19px;
  position: relative;
  z-index: 9;
}
.contact-sec .input-cont:last-child {
  margin-left: 0;
}
.contact-sec .input-cont .svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
}
.contact-sec .texarea-cont {
  width: 100%;
  position: relative;
  z-index: 9;
}
.contact-sec .texarea-cont .svg {
  position: absolute;
  top: 20px;
  right: 35px;
}
.contact-sec .contact-input {
  width: 100%;
  background-color: #fff !important;
  box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
  height: 51px;
  border-radius: 52px;
  border: 2px solid transparent;
  padding: 0 65px;
  font-size: 15px;
  color: #aab3cd;
  text-align: right;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.contact-sec .contact-input::placeholder {
  font-size: 15px;
  color: #aab3cd;
}
.contact-sec .contact-input:focus {
  border-color: #1580f1;
}
.contact-sec .contact-textarea {
  height: 100px;
  resize: none;
  width: 100%;
  height: 105px;
  background-color: #fff !important;
  box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
  border-radius: 27px;
  border: 2px solid transparent;
  padding: 18px 65px;
  font-size: 15px;
  color: #aab3cd;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.contact-sec .contact-textarea::placeholder {
  font-size: 15px;
  color: #aab3cd;
}
.contact-sec .contact-textarea:focus {
  border-color: #1580f1;
}
.contact-sec .taiara {
  position: absolute;
  top: 0;
  right: 70px;
}
@media (max-width: 767px) {
  .contact-sec .taiara {
    display: none;
  }
}
@media (max-width: 992px) {
  .contact-sec {
    margin-top: 50px;
    padding-top: 60px;
  }
  .contact-sec .contact {
    width: 100%;
  }
  .contact-sec .input-cont {
    margin-left: 0;
    width: 100%;
  }
}

.footer {
  background-color: #fff;
  font-size: 14px;
  color: #657399;
  text-transform: uppercase;
  margin: auto;
  margin-top: 54px;
}

.nav-tgl {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  line-height: 0.6;
  text-align: center;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .nav-tgl {
    display: inline-block;
  }
}

.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 25px;
  border-radius: 1px;
  background: #0f2460;
  vertical-align: middle;
}

.nav-tgl > span:before,
.nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #0f2460;
  transition: all 200ms;
}

.nav-tgl > span:before {
  top: -8px;
  left: 0;
  width: 25px;
}

.nav-tgl > span:after {
  top: 8px;
  left: 0;
  width: 25px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after,
.nav-tgl:hover > span:before {
  width: 25px;
  left: 0;
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 55px) 0px);
  visibility: hidden;
}

.header.active .nav {
  visibility: visible;
  clip-path: circle(100%);
}

.header.active .nav-tgl > span {
  height: 0;
}

.header.active .nav-tgl > span:after,
.header.active .nav-tgl > span:before {
  top: 0px;
  left: 0;
  width: 25px;
}

.header.active .nav-tgl > span:after {
  transform: rotate(-45deg);
}

.header.active .nav-tgl > span:before {
  transform: rotate(45deg);
}

/*# sourceMappingURL=main.css.map */
