.owl-carousel {
    margin-top: 30px;

    .owl-item {
        img {
            display: block;
            width: auto;
            height: auto;
            margin: auto;
        }
    }
}

.clients-cont {
    .owl-item {
        img {
            width: 147px;
            height: 147px;
        }
    }
}