.owl-carousel {
    margin-top: 30px;

    .owl-item {
        img {
            display: block;
            width: 147px;
            height: 147px;
            margin: auto;
        }
    }
}