.header-sec {
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 56px;
    }

    .nav-link {
        font-size: 16px;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: $titlecolor;
        position: relative;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-gradient(linear, right top, left top, from($maincolor), color-stop(50%, $maincolor), color-stop(50%, $titlecolor));
        background-image: linear-gradient(to left, $maincolor, $maincolor 50%, $titlecolor 50%);
        background-size: 200% 100%;
        background-position: 0%;

        @include transition(all 0.5s ease-in-out);

        &:hover {
            @include transition(all 0.5s ease-in-out);
            background-position: 100%;
        }
    }

    @media (max-width: 1199px) {
        .nav-list {
            padding: 0 20px;
        }
    }

    @media (max-width: 992px) {
        .nav-list {
            padding: 0 0;
        }
    }
}

.nav {
    @media (max-width: 992px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba($titlecolor, 0.97);
        transition: all 500ms ease-in-out;
        clip-path: circle(30px at 35px 65px);
        visibility: hidden;


        .nav-list {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 80px;
            padding: 0 0;
        }

        .nav-li {
            margin: 12px 0;
        }

        .nav-link {
            font-size: 17px;
            font-family: 'itc-bd';
            color: #fff;
            background-image: -webkit-gradient(linear, right top, left top, from($maincolor), color-stop(50%, $maincolor), color-stop(50%, #fff));
            background-image: linear-gradient(to left, $maincolor, $maincolor 50%, #fff 50%);
        }
    }
}

.clip-fix {
    @media (max-width: 992px) {
        clip-path: circle(30px at 37px 34px);
    }
}