@keyframes inscreen {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

@keyframes inscreen-en {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.inscreen {
    animation: inscreen 0.4s ease forwards;
}

html[dir="ltr"] .inscreen {
    animation: inscreen-en 0.4s ease forwards;
}

@keyframes outscreen {
    0% {
        right: 0;
    }

    100% {
        right: -100%;
    }
}

.outscreen {
    animation: outscreen 0.5s ease forwards;
}

@keyframes outscreen-en {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

html[dir="ltr"] .outscreen {
    animation: outscreen-en 0.5s ease forwards;
}


@keyframes vibe {

    0%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    50% {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }

    75% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}



.anim-typewriter {
    animation: typewriter 2s steps(50) 1 normal both;

    // animation: typewriter 4s steps(44) 1 normal both,
    // blinkTextCursor 500ms steps(44) infinite normal;
    &:last-of-type {
        animation: typewriter-sec 2s steps(50) 2s 1 normal both;
    }

    @media (max-width:767px) {

        animation: typewriter-xs 2s steps(50) 1 normal both;
        text-align: center;

        &:nth-of-type(2) {
            animation: typewriter-sec-xs 2s steps(50) 2s 1 normal both;

        }

        &:nth-of-type(3) {

            animation: typewriter-th-xs 1s steps(50) 4s 1 normal both;
        }
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 320px;
    }
}

@keyframes typewriter-sec {
    from {
        width: 0;
    }

    to {
        width: 420px;
    }
}

@keyframes typewriter-xs {
    from {
        width: 0;
    }

    to {
        width: 255px;
    }
}

@keyframes typewriter-sec-xs {
    from {
        width: 0;
    }

    to {
        width: 244px;
    }
}

@keyframes typewriter-th-xs {
    from {
        width: 0;
    }

    to {
        width: 80px;
    }
}


@keyframes shape {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 100%;
    }
}


@keyframes pattern-anim {

    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: 800px;
    }
}

// @keyframes blinkTextCursor {
//     from {
//         border-right-color: #0f2460;
//     }

//     to {
//         border-right-color: transparent;
//     }
// }