@font-face {
    font-family: 'itc';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ REGULAR.OTF');
}

@font-face {
    font-family: 'itc-md';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ MEDIUM.OTF');
}

@font-face {
    font-family: 'itc-li';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ LIGHT.OTF');
}

@font-face {
    font-family: 'itc-bd';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ BOLD.OTF');
}

@font-face {
    font-family: 'itc-hv';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ HEAVY.OTF');
}