.header-sec {
    padding-top: 43px;
    padding-bottom: 8px;
    position: sticky;
    z-index: 10;
    background-color: #fff;
    top: 0;
    left: 0;
    @include transition(all 0.3s ease-in-out);

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
    }

    @media (max-width: 992px) {
        .header {
            margin: auto;
        }

        padding-top: 20px;

        .logo {
            img {
                margin-left: auto;
            }
        }
    }
}